#############
#...........#
###A#D#C#A###
  #C#D#B#B#
  #########


#############
#.........BA#
###A#D#C#.###
  #C#D#B#.#
  #########

3
30

33

#############
#.........BA#
###A#.#C#D###
  #C#.#B#D#
  #########

7000
7000

14033

#############
#.......C..A#
###A#.#.#D###
  #C#B#B#D#
  #########

200

14233

#############
#.A.....C..A#
###.#B#.#D###
  #C#B#.#D#
  #########

50
2

14285

#############
#...........#
###A#B#C#D###
  #A#B#C#D#
  #########

300
700
3
9

15297




15297 low
15367 wrong
15365
